.header {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  margin: 0 0 10px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span > span div {
  color: red;
}
